/* Encabezado estilo BCP adaptado a variables en español */
.header {
  width: 100%;
  padding: 1.5rem 2rem;
  background: var(--azul);
  color: var(--blanco);
  font-size: 2rem;
  font-weight: bold;
  box-shadow: 0 2px 8px rgba(0,47,108,0.08);
  border-bottom: 2px solid var(--azul-oscuro);
}

.headerDark {
  background: var(--azul);
  color: var(--blanco);
  width: 100%;
  padding: 1.5rem 2rem;
  font-size: 2rem;
  font-weight: bold;
  box-shadow: 0 2px 8px rgba(0,47,108,0.08);
  border-bottom: 2px solid var(--azul-oscuro);
}
